/*********************     Generales     ***************************/
    @font-face {
        font-family: 'AmsiproBold';
        src:url(../fonts/Amsi\ Pro/AmsiPro-Bold.otf);
    }

    @font-face {
        font-family: 'Amsipro';
        src:url(../fonts/Amsi\ Pro/AmsiPro-Regular.otf);
    }

    @font-face {
        font-family: 'AmsiproSemiBold';
        src:url(../fonts/Amsi\ Pro/AmsiPro-SemiBold.otf);
    }

    @font-face {
        font-family: 'AmsiproLight';
        src:url(../fonts/Amsi\ Pro/AmsiPro-Light.otf);
    }

    @font-face {
        font-family: 'AmsiproXLight';
        src:url(../fonts/Amsi\ Pro/AmsiPro-XLight.otf);
    }

    body{
        font-family: 'Amsipro';
        font-style: normal;
    }

    .rounded-lg {
        border-radius: 9px!important;
    }

    .shadow {
        -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.38);
        -moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.38);
        box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.38);
    }

    .sombraAbajoContenedor{
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    }

    .contenedorPestanaTitulo{
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 2px solid #46BE82;
    }

    .tituloPestana{
        position: relative;
        background: #A7A7A7;
        color: #FFF;
        padding-left: 15px;
        padding-bottom: 4px;
        width: 40%;
        min-width: 300px;
        height: 40px;
        font-size: 18px;
        border: none;
        line-height: 36px;
    }

    .tituloPestanaVerde{
        background: #46BE82;
    }

    .formaPestana {
        position: absolute;
        top: 0%;
        left: 99%;
        height: 45px;
        width: 45px;
        /*transform: translateX(100%) translateY(-50%);*/
    }

    .formaPestanaVerde path {
        stroke: #46BE82;
        fill: #46BE82;
    }

    .vinetaVerde{
        list-style-image: url(../img/bulletVerde.png);
    }

    .vinetaVerde li, .vinetaVerde span{
        line-height: 30px;
        font-size: 18px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

/*********************    Parte superior *******************/
    .header .row div{
        text-align: center;
        padding: 0 0 5px 0;
        font-size: 21px;
    }

    .header .row div:nth-child(1){
        background: linear-gradient(to left, #00B478, #46C387);
    }

    .header .row div:nth-child(2){
        background: linear-gradient(to left, #00503C, #006E4B);
    }

    .header .row div a {
        text-decoration: none;
        color: #fff;
    }
/************************  Seccion de navegación ********************/
    .hero {
        position: relative;
        width: 100%;
    }

    .seccionNavegacion{
        background-color: rgba(250, 250, 250, .90);
        padding: 10px 0;
    }

    .logo img{
        margin: auto;
        display: block;
        padding: 8px 0px;
    }

    .navegacion a{
        color: #000;
        font-size: 16px;
        text-transform: uppercase;
    }

    .navegacion a img{
        margin-left: 12px;
        width: 5%
    }

    .buscadorContenedor {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
    }

    .buscadorContenedor #iconoBuscar {
        width: 15px;
    }

    .buscador{
        border: 2px solid #e1e1e1;
        border-radius: 23px;
        font-size: 14px;
        width: 94%;
        max-width: 300px;
        padding: 0 8px 4px 8px;
    }

    .buscador::placeholder{
        font-size: 14px;
    }

    #contenedorImagen{
        position: relative;
        width: 100%;
        height: 285px;
        min-height: 285px;
        overflow: hidden;
    }

    #contenedorImagen .slider{
        font-size: 1.1em;
        height: 285px;
    }

    #contenedorImagen .slider h1{
        font-size: 35px;
        text-align: center;
        width: 75%;
    }

    .menuSecciones{
        z-index: 2;
    }

    .menuSecciones nav a{
        width: 100%;
        padding-top: 5px;
        font-size: 19px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-family: 'AmsiproLight';
        height: 65px;
    }

    .menuSecciones nav a img{
        display: block;
        margin: 0 auto;
        height: 30px;
    }

    .nav-study{
        background-color: #46B4DC;
    }

    .nav-result{
        background-color: #46CD87;
    }

    .nav-mark{
        background-color: #00B478;
    }

    .nav-percent{
        background-color: #F5AF82;
    }

    .nav-hospi{
        background-color: #006E4B;
    }

/**************************** Seccion de beneficios  ********************/

    .contenedorSeccion {
        background-color: #fff;
        padding: 36px 0;
        margin-bottom: 6px;
    }

    .contenedorSeccion .beneficiosTitulo {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .contenedorSeccion .beneficiosTitulo::after {
        content: "";
        width: 70%;
        background-color: #46BE82;
        height: 2px;
    }

    .contenedorSeccion .beneficiosTitulo h2{
        text-align: center;
        font-family: 'AmsiproBold';
        text-transform: uppercase;
        color: #005F46;
    }

    .contenedorSeccion .beneficiosTitulo p{
        text-align: center;
        font-family: 'AmsiproLight';
        width: 48%;
        font-size: 18px;
        padding-bottom: 13px;
    }

    .contenedorSeccion .beneficiosContenido div img{
        margin: auto; /*Para centrar imagenes*/
    }

    .contenedorSeccion .beneficiosContenido div p{
        font-family: 'AmsiproXLight';
        font-size:  16px;
        text-align: justify;
    }

    .contenedorSeccion .beneficiosContenido div p span{
        font-family: 'AmsiproBold';
        font-size: 18px;
        display: block;
        padding-bottom: 8px;
        text-align: center;
    }

/***************************** Seccion de estudios  *********************/

    .contenedorSeparadorSeccion{
        background-image: url(../img/barra.png);
        height: 114px;
        background-position: center center;
        background-size: cover;
        z-index: 10;
    }

    .iconoFlechaAbajo{
        margin-top:-40px;
        z-index: 10;
    }

    .iconoFlechaAbajo img{
        padding: 26px 22px;
        border: 2px solid #fff;
        border-radius: 50%;
        background: #73C8DC;
        color: #fff;
        margin: auto;
    }

    .contenedorSeparadorSeccion p {
        margin:0;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 28px;
    }

    .tiposEstudios{
        background-image: url(../img/barraEstudios2.png);
        background-position: center center;
        background-size: cover;
    }

    .tiposEstudios .fondo{
        background-color: rgba(250, 250, 250, .85);
        padding: 20px 0;
    }

    .tiposEstudios .contenedorEstudios{
        width: 90%
    }

    .tiposEstudios .row{
        margin: auto;
    }

    .tiposEstudios .row .botonEstudio{
        background-color: #fff;
        color: #000;
        text-align: start;
        padding: 0;
        width: 100%;
        border-bottom-left-radius: 16px!important;
        border-top-left-radius: 16px!important;
        text-transform: uppercase;
        font-size: 14px;
    }

    .botonEstudio .contenidoBoton {
        width: 80%;
        float: left;
        height: 70px;
    }

    .botonEstudio .contenidoBoton .contenidoBotonImg {
        width: 30%;
        float: left;
        height: 100%;
        padding-left: 10px;
    }

    .botonEstudio .contenidoBoton .contenidoBotonTexto {
        width: 70%;
        float: left;
        height: 100%;
        padding-left: 10px;
    }

    .botonEstudio .imagenBoton{
        width: 70px;
        float: right;
        height: 70px;
        border-left: 2px solid #DCDCDC ;
        border-top-right-radius: 16px!important;
        border-bottom-right-radius: 16px!important;
    }

    .estudiosExtra{
        padding-top: 36px;
    }

    .estudiosExtra .botonBuscarEstudios{
        border-radius: 16px!important;
        text-align: center;
        font-family: 'AmsiproSemiBold';
        padding: 0;
        background-image: linear-gradient( #F09B69, #F0AA78, #F09B69);
        border: 2px solid #fff;
        color: #fff;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        width: 380px;
        margin: 0px 10px;
    }

    .estudiosExtra .botonBuscarEstudios .contenidoBotonTexto{
        text-shadow: 5px 2px rgba(221, 133, 89, .30);
        margin-bottom: 0;
        font-size: 18px;
        height: 70px;
        padding: 4px 10px;
    }

    .estudiosExtra .btn-group button:nth-child(2) {
        background-color: #F09B69;
        border: 2px solid #fff;
        color: #fff;
    }

/**********************************  Seccion de footer  **************************/
    .footer {
        background-image: linear-gradient(#006E4B,#00503C);
        color: #fff;
        font-family: 'AmsiproSemiBold';
        font-size:14px;
    }

    .footer .row {
        padding-top: 16px;
    }

    .footer .row::after {
        content: "";
        width: 100%;
        background-color: #46BE82;
        height: 2px;
        margin-top: 16px;
    }

    .footerSocial {
        font-size: 22px;
        font-family: 'AmsiproSemiBold';
        text-transform: uppercase;
    }

    .footerSocialIcons a:nth-child(1){
        background-color: #F09B69;
    }

    .footerSocialIcons a:nth-child(2){
        background-color: #50B4DC;
    }

    .footerSocialIcons a{
        border-radius: 100%;
        width: 40px;
        height: 40px;
        margin: 5px;
        display: block;
        text-align: center;
        float: left;
    }

    .footerSocial p{
        font-size: 16px;
        margin-right: 16px;
        line-height: 40px;
    }

    .footerLogo img{
        margin-left: 10px;
    }

    .footer .conocenosContenido a{
        font-size: 16px;
    }

    .footer .conocenosContenido a{
        color: #FFF;
    }

    .footer .conocenosContenido h3 {
        font-size: 18px;
        text-transform: uppercase;
    }

    .footer .conocenosContenido ul {
        margin-top: 16px;
        padding-left: 26px;
    }

    .footer .conocenosContenido ul li,
    .footer .conocenosContenido p{
        font-family: 'AmsiproLight';
        font-size: 14px;
        margin-bottom: 4px;
    }

    .footer .conocenosContenido span{
        display: block;
        text-transform: uppercase;
        margin-bottom: 4px;
    }

    .footer .conocenosContenido .contacto img{
        width: 4%;
        margin-right: 5px;
    }

    .footer .conocenosContenido .certificacionContenido {
        text-align: center;
    }

    .footer .conocenosContenido .certificacionContenido img{
        margin-top: 16px;
        width: 80px;
    }

    .footer .textoExtra p{
        color:#46C387;
        font-family: 'Amsipro';
        margin: 0;
        font-size: 12px;
        padding: 6px;
        text-align: center;
    }

    .footerAutor {
        background-color: #005F46;
        color: #fff;
        margin: 0;
        padding: 6px;
        text-align: center;
        font-size: 12px;
    }

    .footerAutor p {
        margin: 0;
    }

/***********************MEDIA QUERIES****************************/

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {
        .menuSecciones{
            padding: 0!important;
            margin: 0!important;
        }

        .menuSecciones nav{
            width: 100%;
        }

        .menuSecciones nav a{
            width: 20%;
            font-size: 12px;
            height: 70px;
        }

        .menuSecciones nav a img{
            height: 40px;
        }

        .tiposEstudios .row .botonEstudio{
            font-size: 16px;
        }
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        .tituloPestana{
            min-width: 350px;
        }

        .tituloPestana{
            font-size: 24px;
        }

        #contenedorImagen{
            position: relative;
            width: 100%;
            height: 480px;
            min-height: 480px;
            overflow: hidden;
        }

        #contenedorImagen .slider{
            font-size: 1.1em;
            height: 480px;
        }

        #contenedorImagen .slider h1{
            font-size: 40px;
            width: 75%;
        }

        .menuSecciones nav{
            height: 120px;
        }

        .menuSecciones nav a{
            font-size: 18px;
            margin-top: 8px;
            padding-top: 10px;
            height: 90px;
        }

        .menuSecciones nav a img{
            height: 40px;
        }

        .tiposEstudios .row .botonEstudio{
            font-size: 17px;
        }

        .tiposEstudios .contenedorEstudios{
            width: 65%;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        .menuSecciones nav{
            width: 850px;
            margin-top: -60px;
            padding-top: 16px;
            height: 98px;
        }

        .menuSecciones nav a img{
            height: 40px;
        }

        .tiposEstudios .contenedorEstudios{
            width: 80%;
        }
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        .tiposEstudios .row .botonEstudio{
            font-size: 19px;
        }

        .tiposEstudios .contenedorEstudios{
            max-width: 1140px;
        }

        .estudiosExtra .botonBuscarEstudios{
            font-size: 22px;
            width: 500px;
        }
    }