/*********************     Generales     ***************************/
    
    @font-face {
        font-family: 'AmsiproBold';
        src:url(../fonts/Amsi\ Pro/AmsiPro-Bold.otf);
    }
    @font-face {
        font-family: 'Amsipro';
        src:url(../fonts/Amsi\ Pro/AmsiPro-Regular.otf);
    }
    @font-face {
        font-family: 'AmsiproSemiBold';
        src:url(../fonts/Amsi\ Pro/AmsiPro-SemiBold.otf);
    }
    @font-face {
        font-family: 'AmsiproLight';
        src:url(../fonts/Amsi\ Pro/AmsiPro-Light.otf);
    }
    @font-face {
        font-family: 'AmsiproXLight';
        src:url(../fonts/Amsi\ Pro/AmsiPro-XLight.otf);
    }
    body{
        overflow-x: hidden;
        font-family: 'Amsipro';
        font-style: normal;
    }
    .rounded-lg {
        border-radius: .55rem!important;
    }
    .shadow {
        -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.38);
        -moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.38);
        box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.38);
    }
    .contenedor {
        margin: 0 auto;
        width: 95%;
    }
    @media (min-width: 1920px){
        .container{
            max-width: 1600px!important;
        }
    }
/*********************    Parte superior *******************/
    .header .row div{
        text-align: center;
        padding: 0 0 .3rem 0;
        font-size: 1.3rem;
    }
    @media (min-width: 360px){
        .header .row div{
            font-size: .9rem;
        }
    }
    @media (min-width: 720px){
        .header .row div{
            font-size: 1.3rem;
        }
    }
    @media (min-width: 1920px){
        .header .row div{
            padding: 0 0 .6rem 0;
            font-size: 1.9rem;
        }
    }
    .header .row div:nth-child(1){
        background: linear-gradient(to left, #00B478, #46C387);
    }
    .header .row div:nth-child(2){
        background: linear-gradient(to left, #00503C, #006E4B);
    }
    
    .header .row div a {
        text-decoration: none;
        color: #fff;
    }
/************************  Seccion de navegación ********************/
        /* Inicio */
        
    .hero {
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .hero  .carousel-inner {
        height: 80vh;
        width: 100%;
    }
    .hero  .carousel-inner img{
        height: 80vh;
        width: 100%;
    }
    .heroContenido {
        width: 100%;
        height: 80vh;
        position: absolute;
        top: 0;
        left: 0;
    }
        @media (min-width: 360px){
            .hero {
                height: 50vh;
            }
            .hero  .carousel-inner {
                height: 50vh;
            }
            .hero  .carousel-inner img{
                height: 50vh;
            }
            .heroContenido {
                height: 50vh;
            }
        }
        @media (min-width: 720px){
            .hero {
                height: 55vh;
            }
            .hero  .carousel-inner {
                height: 60vh;
            }
            .hero  .carousel-inner img{
                height: 60vh;
            }
            .heroContenido {
                height: 60vh;
            }
        }
        @media (min-width: 1360px){
            .hero {
                height: 80vh;
            }
            .hero  .carousel-inner {
                height: 80vh;
            }
            .hero  .carousel-inner img{
                height: 80vh;
            }
            .heroContenido {
                height: 80vh;
            }
        }
         /* Fin */
         /* Inicio */
         
    .seccionNavegacion{
        background-color: rgba(250, 250, 250, .90);
    }
    .logo img{
        width: 100%;
    }
    
    .navegacion a{
        color: #000;
        font-size: 1rem;
        text-transform: uppercase;
    }
   
    .navegacion a img{
        margin-left: .7rem;
        width: 5%
    } 
        @media (min-width: 360px){
           
            .navegacion a{
                font-size: .7rem;
            }
        
            .navegacion a img{
                margin-left: .3rem;
                width: .3rem;
                height: .5rem;
            }
        }
        @media (max-width: 719px){
            .navegacion {
                width: 100%;
                justify-content: space-around;
                margin: .5rem 0;
            }
        }
        @media (min-width: 720px){
            
            .navegacion a{
                font-size: .85rem;
            }
        
            .navegacion a img{
                margin-left: .5rem;
                width: .5rem;
                height: .8rem;
            }
        }
        @media (min-width: 1360px){
            .navegacion a{
                font-size: 1rem;
            }
           
            .navegacion a img{
                margin-left: .7rem;
                width: 5%
            } 
        }
        @media (min-width: 1920px){
            .navegacion a{
                font-size: 1.7rem;
            }
            .navegacion a img{
                margin-left: .8rem;
                width: .8rem;
                height: 1.4rem;
            }
        
        }
        /* Fin */
        /* Inicio */
        
    .buscadorGruop {
        width: 100%;
    }
    .buscadorGruop img {
        height: 1.3rem;
    }

    .buscador{
        border: 2px solid #e1e1e1;
        border-radius: 23px;
        font-size: 1rem;
        width: 85%;
        height: 70%;
        padding: 0 .5rem .27rem .5rem;
    }

    .buscador::placeholder{
        font-size: .8rem;
    }
        @media (min-width: 720px){
            .buscador{
                font-size: 1rem;
                padding: 0 .5rem .2rem .6rem;
            }

            .buscador::placeholder{
                font-size: .7rem;
            }
        }
        @media (min-width: 1360px){
            .buscador{
                font-size: 1rem;
                padding: 0 .5rem .27rem .5rem;
            }
        
            .buscador::placeholder{
                font-size: .8rem;
            }
        }
        @media (min-width: 1920px){
        
            .buscadorGruop img {
                height: 2rem;
            }

            .buscador{
                border: 4px solid #e1e1e1;
                font-size: 1.7rem;
                padding: 0 1rem .77rem 1rem;
            }

            .buscador::placeholder{
                font-size: 1.5rem;
            }
        }
        /* Fin */

/******************************    Conocer mas ************************/  
    .conoceMas{
        height: 95%;
        padding: 0;
    }
    .conoceMas .row{
        height: 100%;
    }
    .menuConoceMas{
        bottom: -1rem;
        right: 15%;
        left: 15%;
    }
        /*  Inicio */

        
    .info {
        width: 80%;
        margin: 0 auto;
    }
   
    .infoParrafo p{
        font-size: 2.3rem;
        color: #fff;
        font-family: 'AmsiproBold';
        text-shadow: .7px .7px black; 
        margin-bottom: 0;
    }
    .infoParrafo p:nth-child(2){
        margin-bottom: 1rem;
    }
    .infoParrafo a{
        font-family: 'AmsiproSemiBold';
        background-color: #F09B69;
        color: #fff;
        font-size: 1.3rem;
        padding: 0 1.2rem .7rem 1.2rem;
        border-radius: 5px;
        border: 1px solid #e1e1e1;
        text-decoration: none;
    }
        @media (min-width: 360px){
            .info {
                width: 60%;
            }
        
            .infoParrafo p{
                font-size: 1rem;
                text-shadow: .5px .5px black; 
                display: inline;
                text-align: center;
            }
            .infoParrafo a{
                margin-top: .5rem;
                font-size: .7rem;
                padding: 0 .7rem .4rem .7rem;
                border-radius: 5px;
                border: 1px solid #e1e1e1;
                display: table;
            }
        }
        @media (min-width: 720px){
            .info {
                width: 75%;
            }
        
            .infoParrafo p{
                font-size: 1.7rem;
                text-shadow: .5px .5px black; 
            }
            .infoParrafo a{
                margin-top: 1rem;
                font-size: 1.3rem;
                border: 1px solid #e1e1e1;
            }
        }
        @media (min-width: 1360px){
        
            .infoParrafo p{
                font-size: 2.6rem;
                text-shadow: 1px 1px black; 
                margin-bottom: 0;
            }
            .infoParrafo a{
                font-size: 1.3rem;
                padding: 0 1.2rem .7rem 1.2rem;
                border-radius: 5px;
                border: 1px solid #e1e1e1;
            }
        }
        @media (min-width: 1920px){
            .info {
                width: 90%;
            }
        
            .infoParrafo p{
                font-size: 3rem;
                text-shadow: 1.5px 1.5px black; 
            }
            .infoParrafo p:nth-child(2){
                margin-bottom: 2rem;
            }
            .infoParrafo a{
                font-size: 2.2rem;
                padding: .7rem 1.9rem 1.4rem 1.9rem;
                border-radius: 15px;
                border: 4px solid #e1e1e1;
            }
        }
        /*  Fin */
        /*  Inicio */
        
    .conoceMas .navegacionEstudios nav a{
        width: 13rem;
        padding-top: 1rem;
        font-size: 1.2rem;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-family: 'AmsiproLight';
    }

    .conoceMas .navegacionEstudios nav a img{
        padding-bottom: .7rem;
        display: block;
        margin: 0 auto;
        height: 65%;
    }

        @media (min-width: 360px){
            .conoceMas .navegacionEstudios nav {
                align-self: flex-start!important;
            }
            .conoceMas .navegacionEstudios nav a{
                font-size: .63rem;
                height: 2.7rem;
            }
            
        }
        @media (max-width: 719px){
            .conoceMas .row div:nth-child(1){
                align-self: center!important;
            }
            .conoceMas .navegacionEstudios nav a:nth-child(1),
            .conoceMas .navegacionEstudios nav a:nth-child(3),
            .conoceMas .navegacionEstudios nav a:nth-child(2){
                display: flex;
                flex: 0 0 2%;
            }
            .conoceMas .navegacionEstudios nav a:nth-child(4){
                display: flex;
                flex: 0 0 40%;
            }
            .conoceMas .navegacionEstudios nav a:nth-child(5){
                display: flex;
                flex: 0 0 40%;
            }
            .conoceMas .navegacionEstudios nav {
                justify-content: center;
            }
            .conoceMas .navegacionEstudios nav a {
                align-items: center;
            }
            .conoceMas .navegacionEstudios nav a img{
                width: 1.1rem;
                height: 2.2rem;
                margin: 0 auto;
                
            }
        }
        @media (min-width: 720px){
            .conoceMas .navegacionEstudios nav {
                align-self: flex-end!important;
            }
            .conoceMas .navegacionEstudios nav a{
                width: 8.3rem;
                padding-top: .6rem;
                font-size: .95rem;
                height: 6rem;
            }
        }
        @media (min-width: 1360px){
            .conoceMas .navegacionEstudios nav a{
                width: 13rem;
                padding-top: 1rem;
                font-size: 1.2rem;
            }
        }
        @media (min-width: 1920px){
            .conoceMas .navegacionEstudios nav a{
                width: 20rem;
                padding-top: 1.7rem;
                font-size: 1.9rem;
                height: 10rem;
            }
        }
        /*  Fin */
        /*  Inicio */
        
    .social {
        width: 40%;
        padding-top: 3rem;
    }
    .social a {
        text-decoration: none;
    }
    .social a img {
        background-color: #f1f1ff;
        color: #46BE82;
        padding: .5rem 1rem;
        border-radius: 4px;
        display: block;
        margin: .5rem 0;
    }
    .social a:nth-child(2)  img{
        padding: .5rem .58rem;
    }
        @media (min-width: 360px){
            .social {
                    width: 100%;
            }
            .social a img {
                height: 2rem;
                padding: .3rem .44rem;
            }
            .social a:nth-child(2)  img{
                padding: .5rem .33rem;
            }
                
        }
        @media (min-width: 720px){
            .social {
                    width: 80%;
            }
            .social a img {
                height: 3rem;
                padding: .5rem .92rem;
            }
            .social a:nth-child(2)  img{
                padding: .5rem .52rem;
            }
                
        }
        @media (min-width: 1360px){
            .social {
                width: 40%;
            }
            .social a img {
                padding: .5rem 1rem;
            }
            .social a:nth-child(2)  img{
                padding: .5rem .58rem;
            }
        }
        @media (min-width: 1920px){
            .social {
                width: 50%;
            }
            .social a img {
                height: 6rem;
                padding: 1.2rem 2rem;
                border-radius: 8px;
                margin: .5rem 0;
            }
            .social a:nth-child(2)  img{
                padding: 1.2rem 1.25rem;
            }
        }
        /*  Fin */
        /*  Inicio */
    
    .nav-study{
        background-color: #46B4DC;
    }
    .nav-result{
        background-color: #46CD87;
    }
    .nav-mark{
        background-color: #00B478;
    }
    .nav-percent{
        background-color: #F5AF82;
    }
    .nav-hospi{
        background-color: #006E4B;
    }

/**************************** Seccion de beneficios  ********************/
        /*Inicio*/    
        
    .beneficios {
        background-color: #fff;
        padding: 2rem 0;
    }

    .beneficios .beneficiosTitulo {
        display: flex;
        justify-content: center;
        padding: 3rem 0;
    }
    
    .beneficios .beneficiosTitulo::after {
        content: "";
        width: 70%;
        background-color: #46BE82;
        height: .12rem;
    }
    
    .beneficios .beneficiosTitulo h2{
        text-align: center;
        font-family: 'AmsiproBold';
        text-transform: uppercase;
        color: #005F46;
    }
    .beneficios .beneficiosTitulo p{
        text-align: center;
        font-family: 'AmsiproLight';
        width: 48%;
        font-size: 1.1rem;
        padding-bottom: .8rem;
    }
    
        @media (min-width: 360px){
            .beneficios {
                padding: 2rem 0;
            }
            .beneficios .beneficiosTitulo::after {
                height: .05rem;
            }
            
            .beneficios .beneficiosTitulo h2{
                font-size: 1.2rem;
            }
            .beneficios .beneficiosTitulo p{
                width: 80%;
                font-size: .7rem;
                padding-bottom: .5rem;
            }
        }
        @media (min-width: 720px){
            .beneficios {
                padding: 3rem 0;
            }
            .beneficios .beneficiosTitulo::after {
                height: .1rem;
            }
            
            .beneficios .beneficiosTitulo h2{
                font-size: 1.6rem;
            }
            .beneficios .beneficiosTitulo p{
                width: 90%;
                font-size: 1rem;
            }
        }
        @media (min-width: 1360px){
            .beneficios {
                padding: 2rem 0;
            }.beneficios .beneficiosTitulo::after {
                height: .12rem;
            }
            
            .beneficios .beneficiosTitulo h2{
                font-size: 2rem;
            }
            .beneficios .beneficiosTitulo p{
                width: 48%;
                font-size: 1.1rem;
                padding-bottom: .8rem;
            }
        }
        @media (min-width: 1920px){
            .beneficios {
                padding: 3rem 0;
            }
            .beneficios .beneficiosTitulo::after {
                height: .2rem;
            }
            
            .beneficios .beneficiosTitulo h2{
                font-size: 3rem;
            }
            .beneficios .beneficiosTitulo p{
                width: 70%;
                font-size: 2.1rem;
                padding-bottom: 1.5rem;
            }
        }
        /*  Fin */
        /*  Inicio */
        
    .beneficios .beneficiosContenido div{
        display: flex;
    }
    .beneficios .beneficiosContenido div img{
        height: 33%!important;
        margin-right: 1rem;
    }
    .beneficios .beneficiosContenido div p{
        font-family: 'AmsiproXLight';
        font-size: .92rem;
        text-align: justify;
    }
    .beneficios .beneficiosContenido div p span{
        font-family: 'AmsiproBold';
        font-size: 1.1rem;
        display: block;
        padding-bottom: .5rem;
        text-align: start;
    }
    .beneficios .beneficiosContenido div p span:nth-child(2){
        font-family: 'Amsipro';
        font-size: .92rem;
        display: inline;
    }
        @media (min-width: 360px){
            .beneficios .beneficiosContenido div:nth-child(1){
                margin-bottom: 1.5rem;
            }
            .beneficios .beneficiosContenido div img{
                height: 1.8rem!important;
                width: 2.3rem!important;
                margin-right: .8rem;
            }
            .beneficios .beneficiosContenido div p{
                font-size: .6rem;
            }
            .beneficios .beneficiosContenido div p span{
                font-size: .8rem;
                padding-bottom: .5rem;
            }
            .beneficios .beneficiosContenido div p span:nth-child(2){
                font-size: .6rem;
            }
        }
        @media (min-width: 720px){
            .beneficios .beneficiosContenido div:nth-child(1){
                margin-bottom: 2rem;
            }
            .beneficios .beneficiosContenido div img{
                height: 3.5rem!important;
                width: 3.2rem!important;
                margin-right: 1.2rem;
            }
            .beneficios .beneficiosContenido div p{
               font-size: .92rem;
            }
            .beneficios .beneficiosContenido div p span{
                font-size: 1.1rem;
                padding-bottom: .5rem;
            }
            .beneficios .beneficiosContenido div p span:nth-child(2){
               font-size: .92rem;
            }
        }
        @media (min-width: 1360px){
            .beneficios .beneficiosContenido div img{
                height: 4rem!important;
                width: 4.5rem!important;
            }
        }
        @media (min-width: 1920px){
            .beneficios .beneficiosContenido div img{
                height: 33%!important;
                margin-right: 2rem;
            }
            .beneficios .beneficiosContenido div p{
                font-size: 1.67rem;
            }
            .beneficios .beneficiosContenido div p span{
                font-size: 1.8rem;
                padding-bottom: 1.2rem;
            }
            .beneficios .beneficiosContenido div p span:nth-child(2){
                font-size: 1.67rem;
            }
        }
        /*  Fin */
        /*  Inicio */
/***************************** Seccion de estudios  *********************/
    /*  Inicio */
        
    .iconodown{
        background-image: url(../img/barra.png);
        height: 6vh;
        background-position: center center;
        background-size: cover;
    }
        
        @media (min-width: 1360px){
            .iconodown{height: 10vh;}
        }
        @media (min-width: 1920px){
            .iconodown{height: 12vh;}
        }
        /*  Fin */
        /*  Inicio */
        
    .iconodownIcon{
        top: -1.6rem;
        left: 46.5%;
        right: 46.5% ;
    }

    .iconodownIcon img{
        padding: 1.2rem 1rem;
        border: 2px solid #fff;
        border-radius: 50%;
        background: #73C8DC;
        color: #fff;
        height: 100%;
    }

    .iconodown p {
        margin:0;
        padding-top: .7rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
    }
   
        @media (min-width: 360px){
            .iconodownIcon{
                top: -1rem;
                left: 42%;
                right: 42% ;
            } 
            .iconodownIcon img{
                padding: .5rem .3rem;
                border: 1px solid #fff;
                height: 1.7rem;
            }
            .iconodown p {
                font-size: 1rem;
            }
        }
        @media (min-width: 720px){
            .iconodownIcon{
                top: -1.6rem;
                left: 44%;
                right: 44% ;
            } 
            .iconodownIcon img{
                padding: 1.2rem 1rem;
                border: 2px solid #fff;
                border-radius: 50%;
                background: #73C8DC;
                color: #fff;
                height: 100%;
            }
            .iconodown p {
                padding-top: 1.5rem;
                font-size: 1.8rem;
            }
        }
        @media (min-width: 1360px){
            .iconodownIcon{
                left: 47%;
                right: 47% ;
            } 
            .iconodown p {
                font-size: 1.8rem;
            }
        }
        @media (min-width: 1920px){
            .iconodownIcon{
                top: -2.3rem;
            }
            .iconodownIcon img{
                padding: 1.9rem 1.7rem;
                border: 4px solid #fff;
                height: 5.3rem;
            }
        
            .iconodown p {
                padding-top: 2.5rem;
                font-size: 2.7rem;
            }
        }
        /*  Fin */
        /*  Inicio */
        
    .tiposEstudios{
        background-image: url(../img/barraEstudios2.png);
        height: 85vh;
        background-position: center center;
        background-size: cover;
    }
   
    
    .tiposEstudios .fondo{
        background-color: rgba(250, 250, 250, .85);
        height: 100%;
        padding: 3rem 0 0 0;
    }
        @media (min-width: 720px){
            .tiposEstudios{
                height: 50vh;
            }
        }
        @media (min-width: 1360px){
            .tiposEstudios{
                height: 70vh;
            }
        }
        @media (min-width: 1360px){
            .tiposEstudios{
                height: 85vh;
            }
        }
        /*  Fin */
        /*  Inicio */
        
    .tiposEstudios .row{
        margin-bottom: .5rem;
        height: 19%;
    }
    .tiposEstudios .row .btn-group{
        width: 88%;
        height: 80%;
    }
    .tiposEstudios .row .btn-group button{
        width: 88%;
        background-color: #fff;
        color: #000;
        text-align: start;
        padding: 0;
    }
    .tiposEstudios .row .btn-group button:nth-child(1){
        width: 100%;
        border-bottom-left-radius: 1rem!important;
        border-top-left-radius: 1rem!important;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
        @media (min-width: 360px){
            .tiposEstudios .row{
                height: 18%;
            }
            .tiposEstudios .row .btn-group button:nth-child(1){
                font-size: .5rem;
            }
        }
        @media (min-width: 720px){
            .tiposEstudios .row{
                height: 18%;
            }
            .tiposEstudios .row .btn-group{
                height: 5.5rem;
            }
            .tiposEstudios .row .btn-group button:nth-child(1){
                font-size: .8rem;
            }
        }
        @media (min-width: 1360px){
            .tiposEstudios .row{
                height: 19%;
            }
            .tiposEstudios .row .btn-group{
                height: 6rem;
            }
            .tiposEstudios .row .btn-group button:nth-child(1){
                font-size: 1.2rem;
            }
        }
        @media (min-width: 1920px){
            .tiposEstudios .row{
                margin-bottom: .5rem;
                height: 19%;
            }
            .tiposEstudios .row .btn-group{
                height: 80%;
            }
            .tiposEstudios .row .btn-group button:nth-child(1){
                font-size: 1.9rem;
            }
        }
        /*  Fin */
        /*  Inicio */
   

        
        .btn-group button .butonContenido .butonContenidoImg{
            display: inline-block;
            width: 20%;
            text-align: center;
        }
        
        
            
    
   
    .btn-group button:nth-child(2){
        border-left: 2px solid #DCDCDC ;
        border-top-right-radius: 1rem!important;
        border-bottom-right-radius: 1rem!important;
    }
        @media (min-width: 360px){
            .tiposEstudios .row button:nth-child(2){
                width: 10%;
            }
            .tiposEstudios .row button:nth-child(2) img{
                width: .3rem;
            }
            .btn-group button .butonContenido .butonContenidoImg{
                width: 20%;
            }
            .btn-group button .butonContenido .butonContenidoImg img{
                width: 1.4rem;
            } 
            .tiposEstudios .row button:nth-child(2){
                width: 7%;
                text-align: center;
            }
        }

        @media (max-width: 719px){
            .tiposEstudios .row div{
                justify-content: center!important;
            }
        }
        @media (min-width: 720px){
            .tiposEstudios .row button:nth-child(2){
                width: 10%;
            }
            .tiposEstudios .row button:nth-child(2) img{
                width: .6rem;
            }
            .btn-group button .butonContenido{
                display: flex;
                align-items: center;
            }
            .btn-group button .butonContenido .butonContenidoImg{
                width: 28%;
            }
            .btn-group button .butonContenido .butonContenidoImg img{
                width: 2rem;
            } 
            .tiposEstudios .row button:nth-child(2){
                width: 7%;
                text-align: center;
            }
        }
        @media (min-width: 1360px){
            .tiposEstudios .row button:nth-child(2) img{
                width: .8rem;
            }
            .btn-group button .butonContenido .butonContenidoImg{
                width: 28%;
            }
            .btn-group button .butonContenido .butonContenidoImg img{
                width: 3.2rem;
            } 
        }
        @media (min-width: 1920px){
            .tiposEstudios .row button:nth-child(2) img{
                width: 1.2rem;
            }
            .btn-group button .butonContenido .butonContenidoImg img{
                width: 5rem;
            }
        }
        /*  Fin */
        /*  Inicio */
        
    .estudiosExtra{
        margin-top: 2rem;
    }
    .estudiosExtra .btn-group{
        width: 40%!important;
        border-radius: 1rem!important;
        height: initial!important;
    }
    .estudiosExtra .btn-group button p{
        text-shadow: 35px 5px  rgba(221, 133, 89, .30);
        margin-bottom: 0;
        font-size: 1.3rem;
    }
        @media (min-width: 360px){
            .estudiosExtra .btn-group{
                width: 90%!important;
                border-radius: 0;
            }
            .estudiosExtra .btn-group button {
                padding: .4rem 0!important;
            }
            .estudiosExtra .btn-group button p{
                text-shadow: 10px 3px  rgba(221, 133, 89, .30);
                font-size: .6rem;
            }
        }
        @media (min-width: 720px){
            .estudiosExtra .btn-group{
                width: 50%!important;
                border-radius: 1rem!important;
            }
            
        .estudiosExtra .btn-group button {
            padding: 1.2rem 0!important;
        }
            .estudiosExtra .btn-group button p{
                text-shadow: 20px 3px  rgba(221, 133, 89, .30);
                font-size: .9rem;
            }
        }
        @media (min-width: 1360px){
            .estudiosExtra .btn-group{
                width: 40%!important;
                border-radius: 1rem!important;
                height: initial!important;
            }
            .estudiosExtra .btn-group button p{
                text-shadow: 35px 5px  rgba(221, 133, 89, .30);
                margin-bottom: 0;
                font-size: 1.3rem;
            }
        }
        @media (min-width: 1920px){
            .estudiosExtra .btn-group{
                border-radius: 2rem!important;
            }
            .estudiosExtra .btn-group button {
                padding: 2rem 0!important;
            }
            .estudiosExtra .btn-group button p{
                text-shadow: 50px 10px  rgba(221, 133, 89, .30);
                font-size: 2rem;
            }
        }
        /*  Fin */
        /*  Inicio */
    .estudiosExtra .btn-group button:nth-child(1) {
        text-align: center;
        font-family: 'AmsiproSemiBold';
        padding:  0;
        background-image: linear-gradient( #F09B69, #F0AA78, #F09B69);
        border: 2px solid #fff;
        color: #fff;
        border-right: 0;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;

    }
    .estudiosExtra .btn-group button:nth-child(2) {
        background-color: #F09B69;
        border: 2px solid #fff;
        color: #fff;
    }

    
    @media (min-width: 360px){
        .estudiosExtra .btn-group button:nth-child(1) {
            border: 1px solid #fff;
            border-right: 0;
        }
        .estudiosExtra .btn-group button:nth-child(2) {
            border: 1px solid #fff;
            border-left: 0;
        }
        .estudiosExtra .img {
            height: 24%;
            padding: 0 .5rem;
        }
        .estudiosExtra .btn-group button:nth-child(2) img{
            width: .6rem;
        }
    }

    @media (min-width: 720px){
        .estudiosExtra .btn-group button:nth-child(1) {
            border: 2px solid #fff;
            border-right: 0;
        }
        .estudiosExtra .btn-group button:nth-child(2) {
            border: 2px solid #fff;
            border-left: 0;
        }
        .estudiosExtra .img {
            height: 43%;
            padding: 0 1.5rem;
        }
        .estudiosExtra .btn-group button:nth-child(2) img{
            width: 1.5rem;
        }
    }
        /*  Fin */
        /*  Inicio */
        @media (min-width: 1920px){
            .estudiosExtra .btn-group button:nth-child(2) img{
                width: 2rem;
            }
        }

/**********************************  Seccion de footer  **************************/

    .footer {
        background-image: linear-gradient(#006E4B,#00503C);
        color: #fff;
        font-family: 'AmsiproSemiBold';
    }
    .footer .row {
        padding-top: 1rem;
    }
    .footer .row::after {
        content: "";
        width: 100%;
        background-color: #46BE82;
        height: .12rem;
        margin-top: 1rem;
    }
        @media (min-width: 360px){
            .footer .row {
                padding-top: 1rem;
            }
            .footer .row::after {
                height: .07rem;
                margin-top: .5rem;
            }
        }
        @media (min-width: 720px){
            .footer .row {
                padding-top: 1rem;
            }
            .footer .row::after {
                height: .12rem;
                margin-top: 1rem;
            }
        }
    
        @media (min-width: 1920px){
            .footer .row {
                padding-top: 1rem;
            }
            .footer .row::after {
                height: .2rem;
                margin-top: 2rem;
            }
        }
        /*  Fin */
        /*  Inicio */
    .footer .row .footerSocial {
        font-size: 1.4rem;
        font-family: 'AmsiproSemiBold';
        text-transform: uppercase;
        
    }
    .footerSocial  .footerSocialIcons img{
        border-radius: .2rem;
    }
    .footer .row .footerSocial p{
        font-size: 1rem;
        margin-right: 1rem;
        line-height: 3;
    }
    .footerSocial  .footerSocialIcons a:nth-child(1) img{
        background-color: #F09B69;
        padding: .4rem;
    }
    .footerSocial  .footerSocialIcons a:nth-child(2) img{
        background-color: #50B4DC;
        padding: .45rem .7rem;
    }
        @media (max-width: 719px){
            .footer .row .footerLogo img{
                width: 7rem;
            }
            .footer .row .footerSocial p{
                font-size: .6rem;
                margin: 0;
                line-height: 3;
            }
            .footerSocial  .footerSocialIcons img{
                width: 2rem;
                margin-right: .7rem;
                margin-left: .7rem;
                border-radius: .5rem;
            }
            .footerSocial  .footerSocialIcons a:nth-child(1) img{
                padding: .4rem;
            }
            .footerSocial  .footerSocialIcons a:nth-child(2) img{
                padding: .28rem .6rem;
            }
        }
        @media (min-width: 1920px){
            .footer .row .footerLogo img{
                width: 18rem;
            }
            .footer .row .footerSocial p{
                font-size: 2.1rem;
                margin: 0;
                padding-bottom: 0;
            }
            .footerSocial  .footerSocialIcons img{
                width: 4.5rem;
                margin-left: 1.7rem;
                border-radius: .9rem;
            }
            .footerSocial  .footerSocialIcons a:nth-child(1) img{
                padding: 1.1rem;
            }
            .footerSocial  .footerSocialIcons a:nth-child(2) img{
                padding: .7rem 1.4rem;
            }
        }
        /*  Fin */
        /*  Inicio */
    .footer .conocenosContenido h3 {
        font-size: 1.3rem;
        text-transform: uppercase;
    }
    .footer .conocenosContenido ul {
        margin-top: 1rem;
        padding-left: 1.6rem;
    }
    .footer .conocenosContenido ul li,
    .footer .conocenosContenido p{
        font-family: 'AmsiproLight';
        font-size: .8rem;
        margin-bottom: .5rem;
    }
    .footer .conocenosContenido span{
        display: block;
        line-height: 2;
        text-transform: uppercase;
    }
        @media (max-width: 719px){
            .footer .conocenosContenido h3 {
                font-size: .9rem;
            }
            .footer .conocenosContenido ul {
                margin-top: .6rem;
                padding-left: .9rem;
            }
            .footer .conocenosContenido ul li,
            .footer .conocenosContenido p{
                font-size: .7rem;
                margin-bottom: .5rem;
            }
            .footer .conocenosContenido span{
                line-height: 1;
                font-size: .9rem;
            }
            .footer .conocenosContenido  .col-12{
                text-align: justify;
            }
        }
        @media (min-width: 1920px){
            .footer .conocenosContenido h3 {
                font-size: 2rem;
            }
            .footer .conocenosContenido ul {
                margin-top: 1.7rem;
                padding-left: 2.3rem;
            }
            .footer .conocenosContenido ul li,
            .footer .conocenosContenido p{
                font-size: 1.5rem;
                margin-bottom: 1.2rem;
            }
        }
        /*  Fin */
        /*  Inicio */
    .footer .conocenosContenido .contacto p{
        display: inline;
    }
    .footer .conocenosContenido .contacto img{
        width: 4%;
        margin-right: .3rem;
    }
    .footer .conocenosContenido .certificacionContenido {
        text-align: center;
    }
        @media (max-width: 719px){
            .footer .conocenosContenido .certificacionContenido img{
                margin-top: 1rem;
                width: 5rem;
            }
        }
        @media (min-width: 1920px){
            .footer .conocenosContenido .certificacionContenido img{
                margin-top: 1rem;
                width: 15rem;
            }
        }
        /*  Fin */
        /*  Inicio */

    .footer .textoExtra p{
        color:#46C387;
        font-family: 'Amsipro';
        margin: 0;
        font-size: .85rem;
        padding: .4rem;
    }
    .footerAutor {
        background-color: #005F46;
        color: #fff;
        margin: 0;
        padding: .4rem 0;
        text-align: center;
    }
    .footerAutor p {
        margin: 0;
    }

        @media (max-width: 719px){
            .footer .textoExtra p{
                font-size: .6rem;
                padding: .4rem;
                text-align: center;
            }
            .footerAutor {
                padding: .4rem 0;
                font-size: .7rem;
            }
        }
        @media (min-width: 1920px){
            .footer .textoExtra p{
                font-size: 1.5rem;
                padding: 1.1rem;
                text-align: center;
            }
            .footerAutor {
                padding: 1.1rem 0;
                font-size: 1.5rem;
            }
        }
        /*  Fin */