/*Generales*/

    @font-face {
        font-family: 'AmsiproBold';
        src:url(../fonts/Amsi\ Pro/AmsiPro-Bold.otf);
    }
    @font-face {
        font-family: 'Amsipro';
        src:url(../fonts/Amsi\ Pro/AmsiPro-Regular.otf);
    }
    @font-face {
        font-family: 'AmsiproSemiBold';
        src:url(../fonts/Amsi\ Pro/AmsiPro-SemiBold.otf);
    }
    body{
        overflow-x: hidden;
        font-family: 'Amsipro';
        font-style: normal;
    }
    .rounded-lg {
        border-radius: .55rem!important;
    }
    .shadow {
        -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.38);
        -moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.38);
        box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.38);
    }
    .contenedor {
        margin: 0 auto;
        width: 95%;
    }
/* Parte superior */
    .header .row div{
        text-align: center;
        padding: 0 0 .3rem 0;
        font-size: 1.3rem;
    }
    .header .row div:nth-child(1){
        background: linear-gradient(to left, #00B478, #46C387);
    }
    .header .row div:nth-child(2){
        background: linear-gradient(to left, #00503C, #006E4B);
    }
    
    .header .row div a {
        text-decoration: none;
        color: #fff;
    }
/* Navegacion */
    .contenedor-header {
        background-image: url(../img/fondo.png);
        height: 70vh;
        background-position: top center;
        background-size: cover;
    }
    .seccionNavegacion {
        background-color: rgba(250, 250, 250, .90);
    }
    .logo img{
        width: 100%;
    }
    .navegacion a{
        color: #000;
        font-size: .9rem;
        text-transform: uppercase;
    }
    .navegacion a i{
        margin-left: .7rem;
        color: #939393;
    }
    .buscadorGruop {
        width: 100%;
    }
    .buscadorGruop i{
        color: #006446;
        font-size: 1.2rem;
        margin-right: .1rem;
        width: 7%;
    }

    .buscador{
        border: 2px solid #e1e1e1;
        border-radius: 23px;
        font-size: 1rem;
        width: 85%;
    }
    .buscador::placeholder{
        font-size: .9rem;
    }

/* Conocer mas */  
    .conoceMas{
        height: 95%;
        padding: 0;
    }
    .conoceMas .row{
        height: 100%;
    }
    .menuConoceMas{
        bottom: -1rem;
        right: 15%;
        left: 15%;
    }
    @media (min-width: 768px){
        .infoParrafo {
            padding: 0 0 0 4rem;
        }
    }
   
    .infoParrafo p{
        font-size: 1.8rem;
        color: #fff;
        font-family: 'AmsiproBold';
        text-shadow: .7px .7px black;
        
    }
    .infoParrafo a{
        font-family: 'AmsiproSemiBold';
        background-color: #F09B69;
        color: #fff;
        font-size: 1.3rem;
        padding: 0 1.2rem .7rem 1.2rem;
        border-radius: 5px;
        border: 1px solid #e1e1e1;
        text-decoration: none;
    }
    

    .conoceMas .navegacionEstudios nav a{
        padding: .6rem 2rem;
        font-size: 1.2rem;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    .conoceMas .navegacionEstudios nav a img{
        padding-bottom: .7rem;
        display: block;
        margin: 0 auto;
        height: 55%;
    }
    
    .social a {
        text-decoration: none;
    }
    .social a img {
        background-color: #f1f1ff;
        color: #46BE82;
        padding: .5rem 1rem;
        border-radius: 4px;
        font-size: 1.2rem;
        display: block;
        margin: .5rem 0;
    }
    .social a:nth-child(2)  img{
        padding: .5rem .58rem;
    }
    .nav-study{
        background-color: #46B4DC;
    }
    .nav-result{
        background-color: #46CD87;
    }
    .nav-mark{
        background-color: #00B478;
    }
    .nav-percent{
        background-color: #F5AF82;
    }
    .nav-hospi{
        background-color: #006E4B;
    }

/* SECCIÓN DE ESTUDIOS  */
    
    .iconodown{
        background-image: url(../img/barra.png);
        height: 12vh;
        background-position: center center;
        background-size: cover;
    }
    .iconodownIcon{
        top: -1.6rem;
        left: 46.5%;
        right: 46.5% ;
    }
    .iconodownIcon img{
        padding: 1.2rem 1rem;
        border: 2px solid #fff;
        border-radius: 50%;
        background: #73C8DC;
        color: #fff;
    }
    .iconodown p {
        margin: 0;
        padding: 2rem 0 .5rem 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
    }

    .tiposEstudios{
        background-image: url(../img/barraEstudios2.png);
        height: 65vh;
        background-position: center center;
        background-size: cover;
    }
    .tiposEstudios .fondo{
        background-color: rgba(250, 250, 250, .85);
        height: 100%;
        padding: 5rem 0 0 0;
    }
    .tiposEstudios .row{
        margin-bottom: 1rem;
    }
    .tiposEstudios .row .btn-group{
        width: 88%;
    }
    .tiposEstudios .row button{
        background-color: #fff;
        color: #000;
        text-align: start;
        padding: 0;
    }
    .tiposEstudios .row button:nth-child(1){
        width: 93.5%;
        border-bottom-left-radius: .55rem!important;
        border-top-left-radius: .55rem!important;
        text-transform: uppercase;
    }
    .tiposEstudios .row button:nth-child(2){
        width: 7%;
        text-align: center;
    }
    .tiposEstudios .row button:nth-child(1) img{
        padding: .3rem 2rem;
        height: 60%;
    }
    .tiposEstudios .row button:nth-child(2){
        border-left: 1px solid #f1f1f1 ;
        border-top-right-radius: .55rem!important;
        border-bottom-right-radius: .55rem!important;
    }
    

    .estudiosExtra{
        margin-top: 4rem;
    }
    .estudiosExtra .btn-group{
        width: 40%!important;
    }
    
    .estudiosExtra .btn-group button:nth-child(1) {
        text-align: center;
        font-size: 1.2rem;
        font-family: 'AmsiproSemiBold';
        padding: .8rem 0;
        background-image: linear-gradient( #F09B69, #F0AA78, #F09B69);
        border: 1px solid #fff;
        color: #fff;
        width: 100%;
    }
    .estudiosExtra .btn-group button i {
        color: #fff;
    }
    .estudiosExtra .btn-group button:nth-child(2) {
        background-color: #F09B69;
        border: 1px solid #fff;
        border-left: 0;
        color: #fff;
    }

    .estudiosExtra .img {
        height: 43%;
        padding: 0 1.5rem;
    }